fastapi
uvicorn
uvicorn[standard]
pydantic
python-dotenv
langchain
langgraph
groq
google-generativeai
pyautogen
chromadb
sentence-transformers
tavily-python
exa-py
duckduckgo-search
numpy
faiss-cpu
streamlit
fpdf
aiohttp
python-dotenv
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
